.content.p-t-3.p-b-2
  p.b OBJECTIVE
  p
    | Results driven media planner with media buying experience, looking for media planning or project management role with a company looking for a positive team player with a strong worth ethic
  br 
  p.b EXPERIENCE
  div.title ITN Networks June 2014-Present
    p Media Planner
    ul
      li
        p Develops plans, sales proposals and buying guidelines based on client needs
      li
        p Monitors delivery and profit throughout the flight of a campaign
      li
        p
          | Extensive knowledge of media math including, CPM, VPVH evaluations, & rating calculations
      li
        p Maintained weight and parameters for specific clients
      li
        p Works closely with executives in maintaining upfront packages
  div.title ITN Networks January 2013
    p Media Buyer
    ul
      li
        p
          | Negotiates, buys and maintains commercials placements with stations to ensure spots run in order to meet the client's’ needs
      li
        p Negotiated with stations to reach a large audience for the lowest cost
      li
        p Allocated the most “CPM” efficient time periods per buy
      li
        p Responsible for a set market list of 8 markets and 1 assistant for all markets
      li
        p Promoted after 1 year as media buying assistant
  div.title ITN Networks Summer 2012
    p Media Buying Assistant
    ul
      li
        p Assisted in the day-to-day operations of an independent television network
      li
        p
          | Maintained contracts and communication with buyer—updating issues and problems with contracts and reporting
      li
        p
          | Maintain relationships with stations by responding to all station emails and inquiries
  div.title Steiner Sports Marketing and Memorabilia, Inc. Summer 2010
    p Intern
    ul
      li
        p Organized and managed an online auction of sports memorabilia.
      li
        p Developed a sport memorabilia database for the New York Yankees.
      li
        p Managed a silent auction of sport memorabilia for charitable causes.
  p.b EDUCATION
    .text-center
      p Bachelor of Science, Sport Management May 2012
      p West Virginia University, Morgantown, West Virginia
      p Minor in Business and Communications, Dean’s List, President’s List
      p Graduated Cum Laude
  br
  p.b SKILLS
  ul
    li
      p
        | Extensive experience in Microsoft Word, Excel, Outlook, PowerPoint, Adobe Photoshop, Media Optimization
    li
      p Customer service experience and relationship building skills
