img(src="/images/jkapnick_home_main_4.jpg")
.content.p-t-3
  .p-t-5
    div
      | jordankapnick@gmail.com

  .p-t-1
    div
      | 845.304.9731
      br
      | Working hours:
      br
      | 9am-5pm

