html
  head
    include _nav.jade
  body
    section.home

    section.about

    section.contact
      a(name="contact")
      h1 Contact

      .content
        h3 Svanimir Steiner
        address Zagreb, Croatia

    section.map

