html
  head
    include _nav.jade
  body
    section.home
      .right
        h1
          div
            font Jordan Kapnick
        address
            | 800 Avenue of the Americas
            br
            | New York, NY 10001
    section.about#about
      include _about.jade

    section.contact
      a(name="contact")
      h1 Contact

      .content
        h3 Svanimir Steiner
        address Zagreb, Croatia

    section.map

